.btn-convert {
  width: calc(100% / 3);
  min-width: 8rem;
  height: calc(100% / 5);
  padding: 0.6rem;
  font-size: initial;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-weight: 500;
  color: #fff;
  background-color: #1a73e8;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-convert:hover {
  background-color: #6ea3e7;
  box-shadow: 0px 15px 20px rgba(97, 128, 175, 0.73);
  transform: translateY(-2px);
}

.btn-convert:focus {
  outline: #6ea3e7;
}
