:root {
  --label-color: #8b9095;
  --input-color: black;
  --active-color: #1a73e8;
}

.input-wrapper {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.input-wrapper input {
  width: 100%;
  height: 100%;
  color: var(--input-color);
  padding-top: 0.6rem;
  font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  border: none;
  outline: none;
}

.input-wrapper label {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  color: var(--label-color);
  border-bottom: 1px solid var(--label-color);
}

.input-wrapper label::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid var(--active-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  left: 0px;
  bottom: 1rem;
  transition: all 0.3s ease;
}

.input-wrapper input:focus + .label-name .content-name,
.input-wrapper input:valid + .label-name .content-name {
  transform: translateY(-150%);
  color: var(--active-color);
}

.input-wrapper input:focus + .label-name::after,
.input-wrapper input:valid + .label-name::after {
  transform: translateX(0%);
}
