.select-currency {
  background-color: #fff;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: 2;
  padding: 0.5rem 0.9rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.4rem;
  border: 0.06rem solid var(--secondary-color);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -webkit-appearance: none;
  appearance: none;
  outline-color: var(--active-color);
  background-repeat: no-repeat;
  background-position: right 10% bottom 50%, 0 0;
  background-size: 1rem auto, 100%;
  background-image: url(./arrow-icon.png);
}

.select-currency:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 1px 2px var(--primary-active);
}

.select-wrapper {
  margin-bottom: 1.5rem;
}

.select-label,
option {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
}
