.App {
  background: #6ea3e7;
}

.App-content {
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 5px 45px rgb(44, 44, 44);
  padding: 2rem;
  max-width: 24rem;
  background: white;
  border-radius: 0.4rem;
}
