html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #6ea3e7;
  color: #1d1d1d;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #444;
  margin-bottom: 0;
}

.App-text {
  font-family: inherit;
  font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  font-weight: 500;
}

.container {
  padding: 2rem;
}
