:root {
  --primary-bcg: #6ea3e7;
  --primary-color: #444;
  --primary-active: #1a73e8;
  --secondary-color: #8b9095;
  --light-on-dark-bcg: rgb(236, 236, 236);
}

* {
  color: var(--primary-color);
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 19px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-bcg);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0;
}
