body {
  margin: 0;
  box-sizing: border-box;
  color: #1d1d1d;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #444;
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  margin-bottom: 0;
}
